.topnav {
    background-color: #060606;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f0f0f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #aadaff;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #1ca2e4;
    color: white;
}

.logout {
    float: right;
    font-size: 40px;
    color: #091c35;
    background-color: transparent;
    margin-right: 10px;
}