.btnXacNhan:hover {
    background-color: rgb(31, 171, 47);
}

.btnXacNhan {
    padding: 5px 15px;
    margin-right: 15px;
    border-radius: 8px;
}

.btnHoanThanh {
    padding: 5px 15px;
    border-radius: 8px;
}

.btnHuyDon {
    background-color: #d81717 !important;
    padding: 5px 15px;
    border-radius: 8px;
}

.btnHuyDon:hover {
    background-color: rgb(31, 171, 47);
}

.btnHoanThanh:hover {
    background-color: rgb(31, 171, 47);
}

.btn-xem-chitiet {
    background-color: transparent;
}